<% content_for :title do %>
Nothing Calendar
<% end %>
<% content_for :sub_title do %>
Tracks occurences of some event.
<% end %>

<div class="extra_info">
  <div class="auth" id="auth-state">
  </div>
    <div class="stats">
      <span class="stat">Current Steak: <span id="current-streak">0</span></span>
      <span class="stat">Longest Steak: <span id="longest-streak">0</span></span>
      <span class="stat">Total Marks: <span id="total-marks">0</span></span>
    </div>
</div>
  
  <div id="calendar">
    <p>Please enable Javascript to view this calendar.</p>
  </div>
<script>
  var userMarks = $.parseJSON('<%= raw(@marks.to_json) %>');
</script>
<script src="/javascripts/all.js"></script>
