<div class="calendar_picker" id="calendar_picker" style="display:none">
  <form action="demo_form.asp" id="calendar_picker">
    Currently Tracking <select name="calendar">
      <option value="default">Default</option>
      <option value="create">Add New Calendar</option>
    </select>
  </form>
</div>
