<% @share_description ||= 'NothingCalendar - helps you to make daily progress by not breaking the chain.' %>
<table class="sharing">
  <tr>
       <td class="app">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none"  data-hashtags="nothingcalendar" data-text="<%= @share_description %>">Tweet</a>
      </td>
      <td class="app">
         <div class="g-plusone" data-size="medium" data-annotation="none"></div>
      </td>
      <td class="app">
        <div class="fb-like" data-send="false"
      data-layout="button_count" data-width="65"
      data-show-faces="false"></div>
      </td>
    </tr>
</table>

<div style="hidden">
<!-- Add the following three tags to your body -->
<span itemprop="name"><%= @page_title || 'NothingCalendar' %></span>
<span itemprop="description"><%= @share_description %></span>
</div>
