<span class="data-title hidden">Don't Break the Chain!</span>
<%= render :partial => "about" %>

<% unless request.headers['HTTP_APP_REQUEST'] %>
  <%= render :partial => "shared/social_shares" %>
<% end %>
