<%#todo shouldn't content_for just create the data-tile hidden thing in a partial layout -%>
<%#todo shouldn't content_for could work if we wrap pjax %>
<%#in a barebones layout with a content for -%>
<% content_for :sub_title do %>
  <a href="/site/about" data-pjax="#main">Tracks occurences</a> of some event.
<% end %>
<span class="data-title hidden"><a href="/site/about" data-pjax="#main">Tracks occurences</a> of some event.</span>

<div class="extra_info">
    <div class="auth" id="auth-state">
      <span id='get-login'>
        <a href='/users/sign_in' id='sign-in-link' data-pjax="#main">Sign In</a>
        or   <a href='/users/sign_up' id='sign-up-link' data-pjax="#main">Sign Up</a>
      </span>
    </div>

    <div class="stats">
      <span class="stat">Current Steak: <span id="current-streak">0</span></span>
      <span class="stat">Longest Steak: <span id="longest-streak">0</span></span>
      <span class="stat">Total Marks: <span id="total-marks">0</span></span>
    </div>
</div>

<div id="calendar">
   <p>Please enable Javascript to view this calendar.</p>
</div>

<%= render :partial => "shared/social_shares" %>
