<div class="index">
  <% content_for :sub_title do %>
    Don't break the chain!
  <% end %>

  <p>
    To get better at something, simple work on it <em>EVERY</em>
    day. For example, if your goal was to exercise more.
    <ol class="example"'>
      <li>exercise today</li>
      <li>click today's date on the calendar</li>
      <li>repeat tomorrow</li>
    </ol>
  </p>
  

  <p>
    <br/>
    NothingCalendar let's users track events, anything they feel like tracking over time. Mark off days you worked out, kept to your diet, worked on your writing, studied, quit smoking, or anything else.
  </p>

  <p>
    The entire concept of "don't break the chain" comes
    from <a href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret">Jerry
    Seinfeld’s Productivity Secret</a>. 
  </p>
</div>
