<div class="index about">
  <% content_for :sub_title do %>
    Don't break the chain!
  <% end %>

  <p>
    To get better at something, simply work on it <em>EVERY</em>
    day. For example, if your goal is to exercise more:
    <ol class="example"'>
      <li>exercise today</li>
      <li>click today's date on the calendar</li>
      <li>repeat tomorrow</li>
    </ol>
  </p>
  

  <p>
    <br/>
    NothingCalendar lets users track events -- anything they feel like tracking over time. Mark off days you worked out, kept to your diet, worked on your writing, studied, didn't smoke, or anything else.
  </p>

  <p>
    The concept of "don't break the chain" comes
    from <a href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret">Jerry
    Seinfeld’s Productivity Secret</a>. 
  </p>

  <br/>
  <p>
    This project uses some of the 
   <a href="https://github.com/technoweenie/seinfeld">open source code
   from Calendar About Nothing</a>.
   <br/>
     This project is entirely opensource itself, so feel free to
   check out <a href="https://github.com/danmayer/nothingcalendar">NothingCalendar's code</a>.
   </p>
</div>
