<!DOCTYPE html>
<html>
<head>
  <title>Nothing Calendar</title>
  <%= csrf_meta_tag %>
  <link href="/stylesheets/all.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/jquery-1.4.2.min.js"></script>
  <script src="/javascripts/jquery.calendar-widget.js"></script>
  <!--fixes a broken json parser on some android phones -->
  <script>window.JSON = null;</script>
  <script src="/javascripts/json2.js"></script>
  <script src="/javascripts/lawnchair-0.6.1.min.js"></script>
  <script src="/javascripts/lawnchair-adapter-webkit-sqlite-0.6.1.js"></script>
  <script src="/javascripts/query.js"></script>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link rel="Icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/icon.png"/>
  <link rel="apple-touch-icon-precomposed" href="/images/precomposed-icon.png"/>
  <link rel="apple-touch-startup-image" href="/images/startup.png">
  
</head>
<body>
  <div class="wrap">
    <%= yield %>

    <p class="footer">
    Inspired by <a href="http://calendaraboutnothing.com">Calendar
  About Nothing</a>, in fact sharing open source <a href="https://github.com/entp/seinfeld">code</a>.
    </p>
  </div>

</body>
</html>
